// app colors
$primary: #008DA1;
$secondary: #FF7033;
$green: #00C383;
$pink: #E4005F;
$red: #D80018;
$yellow: #D8B100;
$blue: #0091D8;

$list-colors: $green, $pink, $yellow, $secondary, $red, $blue;

// app font
$font: 'Kanit', sans-serif;
