<div class="app">

  <!-- header -->

  <mat-toolbar class="app-header">
    <img class="logo" src="../assets/logo.jpg" alt="Peachtree Bank Logo">
  </mat-toolbar>

  <div class="container app-wrapper">
    <div class="row">
      <div class="col-lg-4">

        <!-- transfer card -->

        <mat-card class="card">
          <mat-toolbar class="card-header">
            <img class="icon" src="../assets/icons/exchange.png" alt="Transfer Icon">
            <div class="center-title">
              <h5 class="card-title">
                Make a Transfer
              </h5>
            </div>
          </mat-toolbar>

          <!-- transfer component -->

          <div class="card-content-wrapper">
            <transfer></transfer>
          </div>
        </mat-card>
      </div>
      <div class="col-lg-8">

        <!-- transaction card -->

        <mat-card class="card">
          <mat-toolbar class="card-header">
            <img class="icon" src="../assets/icons/suitcase.png" alt="Transactions Icon">
            <div class="center-title">
              <h5 class="card-title">
                Recent Transactions
              </h5>
            </div>
          </mat-toolbar>

          <!-- transaction component -->

          <div class="card-content-wrapper">
            <transactions></transactions>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>
